h3 {
    text-align: center;
    color:blue;
}

img {
    width: 1007px;
  	height: 400px;
}

.product_link {
    text-align: center;
    display: block;
    
    color: black;
    text-decoration: none;
}

.product_link:hover {
    text-decoration: underline;
    color: blue;
}
